@model List<Model.UserInfo>
@* <div class="container-fluid page-body-wrapper"> *@
@*  <div class="main-panel mt-4"> *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"></path>
                </svg>
                <span class="visually-hidden">Home</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            User Details
        </li>
    </ol>
</nav>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">User Details</h1>
</div>
<div class="card box-shadow">
    <div class="card-header">
        <h5 class="mb-0" id="lblcaption">Search User</h5>
    </div>
    <div class="card-body">
        <div class="form-group form-group col-sm-3 col-md-3 col-lg-3 col-xs-12 mx-auto mb-3">
            <label class="editlabel">Users List</label>
            @Html.DropDownList("ddlUserList", Model.Select(item => new SelectListItem
       {
           Value = item.UserID.ToString(),
           Text = item.UserName.ToString()
       }), "--Select--", new { @class = "editdropdown form-control" })
        </div>
        <div class="form-group form-group col-sm-3 col-md-3 col-lg-3 col-xs-12 mx-auto" style="display:none;" id="trUserId">
            <label class="editlabel">User ID <span style="color:red">*</span></label>
            <input type="text" id="txtUserIdForNewUser" class="txtBox form-control" maxlength="100" />
            
            <input type="button" id="btnSearchUser" class="btn btn-primary mt-3" value="submit" alt="Search User In AD">
        </div>
       @*  <table>

            <tr style="width: 100%" align="center" class="darkBlueBg">
                <td align="right" rowspan="1" style="width: 20%">
                </td>
                <td align="left" style="width:80%">
                </td>
            </tr>
            <tr  align="center" class="darkBlueBg">
                <td align="right" style="width: 20%">
                    
                </td>
                <td align="left" style="width:80%">
                    
                </td>

            </tr>
        </table> *@
    </div>

</div>
@* </div> *@
@* </div> *@

<script>
    $("#btnSearchUser").click(function () {
        var userid = $('#txtUserIdForNewUser').val();
        if (userid.trim(' ') == "") {
            alert("Please enter Userid");
            return false;
        }
        $.post('@Url.Action("GetUserDetailsForAddingUser", "Admin")', { userId: userid },
            function (data) {
                if (data.indexOf("The user already exist!") > -1) {
                    $('#divUserDetails').empty();
                    $('#divUserDetails').html(data);
                }
                else if (data.indexOf("The user with the given user id is not a valid user in AD") > -1) {
                    $('#divUserDetails').empty();
                    $('#divUserDetails').html(data);
                }
                else {
                    $('#txtUserIdForNewUser').attr('readonly', 'true');
                    $('#divUserDetails').empty();

                    $('#divUserDetails').html(data);
                }

            });

    });
    $(document).ready(function () {

        $(".editdropdown").change(function (evt) {


            $("#txtUserIdForNewUser").val("");
            if ($("#ddlUserList option:selected").val() == "") {
                $('#trUserId').show();
                $('#divUserDetails').empty();
            }
            var selectedValue = evt.currentTarget.value;
            $('#txtUserIdForNewUser').removeAttr('readonly');
            if (selectedValue === "") {
                $('#trUserId').hide();
                return; 
            }
            if (selectedValue == 0) {
                $('#trUserId').show();
                $('#divUserDetails').empty();
            }
            else {
                $('#trUserId').hide();

                $.post('@Url.Action("GetUserDetails", "Admin")', { userId: selectedValue },
                    function (data) {
                        if (data.indexOf("error") == 0) {
                            alert(data.replace("error", ""));
                        }
                        else {
                            $('#divUserDetails').empty();

                            $('#divUserDetails').html(data);
                        }

                    });
            }

        });

    });
</script>