.darkRedBg {
    background-color: #FFC1C1;
}
.lightRedBg {
    background-color: #f5c4c4;
}
.grayText{
    font-family: Verdana, Arial, Helvetica, Arial;
    color: #737373;
    font-size: 10px;
}
.label{
    font-family: Verdana;
    font-size: 12px;
    text-align: right;
    color: #24264f;
    padding-right: 5px;
}
.form-control{
    display: block;
    width: 220px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #8B0000;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.loader{
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #666666;
    z-index: 30001;
    opacity: .5;
    filter: opacity(70);
    display: none;
    border: none;
    outline: none;
}
.button {
    background: none;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
    border: 0px;
    background-color: none;
    cursor: pointer;
    outline: 0;
}
.whiteTextNormal{
    font-family: Arial;
    color: #535353;
    font-size: 11px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
}
.Attribute{
    color: black;
    font-family: Arial;
    font-size: 10pt;
    text-decoration: none;
    cursor: pointer;
}
a.Attribute:hover {
    color: #0f75da;
}
.margin {
    margin-left: -3px;
    margin-top: -3px;
}
.margin-top-2em {
    margin-top: .5em;
}
.margin-top-0_1em {
    margin-top: 0.01em;
}
.inputFormDtls {
    font-size: 15px;
}
.width-100 {
    width: 100%;
}
.width-49{
    width: 44%;
}
.width-10 {
    width: 10%;
}
.width-33 {
    width: 33%;
}
.padding_0_2{
    padding:0.2em;
}
.fleft{
    float: left;
}
.width-44{
    width: 44%;
}
.whiteText {
    font-family: Arial;
    color: #484848;
    font-size: 10pt;
}
.alignright{
    text-align: right;
}
.sortlimit{
    font-family: Times New Roman;
    color: #484848;
    font-size: 9pt;
}
.pad_left_0_2{
    padding-left: 0.2em;
}
.pad_right_2{
    padding-right: 2em;
}
.pad_right_1 {
    padding-right: 1em;
}
.pad_right_5 {
    padding-right: 5em;
}
.padding_1{
    padding: 1em;
}
.padding_0_2 {
    padding: 0.2em;
}
.padding_0_1 {
    padding: 0.1em;
}
















