*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background:rgba(#F30009, 30%);
}
*::-webkit-scrollbar-thumb:hover {
    background:rgba(#F30009, 60%);
}

body{
    background-color: #efefef;
}
.customNavbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: #ddd solid 1px;
    height: 70px;
    z-index: 1000;

    .container-fluid {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    &:before {
        content: "";
        width: 100%;
        height: 5px;
        background: transparent linear-gradient(90deg, #F30009 0%, #7A0005 100%) 0% 0% no-repeat padding-box !important;
        top: 0;
        position: absolute;
    }

    .navbar-brand {
        /* width: 200px;*/
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 120px;
            /*filter: invert(100%);*/
        }

        .title-mpp {
            display: flex;
            flex-direction: column;
            line-height: 16px;
            border-left: 1px solid #c1c1c1;
            padding-left: 1rem;

            span {
                font-size: 1.5rem;
                font-weight: 600;

                &:last-child {
                    color: #d90d23;
                }
            }
        }
    }

    .navbar-nav {
        li {
            a {
                color: #000;
                text-transform: uppercase;
                font-weight: 500;

                &.active, &:hover {
                    color: #F30009;
                }
            }
        }
    }

    .dropdown {
        .profile-dropdown {
            padding-left: 1.6rem;

            &::after {
                display: none;
            }
        }

        .dropdown-menu[data-bs-popper] {
            right: 0 !important;
            left: auto !important;
            font-size: 1.2rem;
        }
    }
}
.mainSidebar {
    position: fixed;
    width: 0px;
    left: 0;
    top: 72px;
    background-color: #fff;
    border-right: #ddd solid 1px;
    z-index: 1008;
    height: calc(100vh - 72px);
    overflow-y: auto;
    transition: 0.5s all linear;

    li {
        a {
            border-radius: 0 !important;

            &.active {
                background-color: #F30009 !important;
                color: #fff !important;
            }
        }
    }

    /*.sidebarToggleBtn {
        position: absolute;
        z-index: 1;
        right: -1px;
    }*/
}
.mainWrapper {
    width: 100%;
    padding: 20px;
    margin-left: auto;
    transition: 0.5s all linear;

    .sidebar {
        display: none !important;
    }

    .img-mpp {
        width: 800px;
        height: 100%;
    }
}
@media all and (max-width:1200px){
    .mainSidebar{
        left: -200px;
    }
    .mainWrapper{
        width: 100%;
    }
}
.sideOpen {
    .mainWrapper {
        width: calc(100% - 200px);

    }
        .mainSidebar {
            left: 0;
            width: 200px;
        }
    }

footer {
    width: 100%;
    position: fixed;    
    bottom: 0;
    background: #fff;
    padding: 0.8rem;
    /*z-index: 9999;*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}