*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background:rgba(#F30009, 30%);
}
*::-webkit-scrollbar-thumb:hover {
    background:rgba(#F30009, 60%);
}

body {
    background-color: #f9f9f9;
}
/*******************************
    Header Navbar
*/
.customNavbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: #ddd solid 1px;
    height: 70px;
    z-index: 1000;

    .container-fluid {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    &:before {
        content: "";
        width: 100%;
        height: 5px;
        background: transparent linear-gradient(90deg, #F30009 0%, #7A0005 100%) 0% 0% no-repeat padding-box !important;
        top: 0;
        position: absolute;
    }

    .navbar-brand {
        /* width: 200px;*/
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 120px;
            /*filter: invert(100%);*/
        }

        .title-mpp {
            display: flex;
            flex-direction: column;
            line-height: 16px;
            border-left: 1px solid #c1c1c1;
            padding-left: 1rem;

            span {
                font-size: 2rem;
                font-weight: 600;

                &:last-child {
                    color: #d90d23;
                    font-size: 1rem;
                }
            }
        }
    }

    .navbar-nav {
        li {
            a {
                color: #010101;
                font-weight: 500;
                position: relative;

                & /*:not(:last-child)*/ {
                    margin-right: 2rem;
                }

                &::after {
                    content: ' ';
                    position: absolute;
                    border-right: 1px solid #c7c7c7;
                    height: 1.5rem;
                    margin-left: 1.5rem;
                    margin-top: 0.4rem;
                }

                &::before {
                    content: ' ';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 2px;
                    background-color: #F30009;
                    visibility: hidden;
                    transition: 0.3s ease-in-out;
                }

                &.active, &:hover, &:hover::before {
                    color: #F30009;
                    /*width: 100%;
                    visibility: visible;*/
                }
            }

            &:last-child {
                a {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .dropdown {
        .profile-dropdown {
            padding-left: 1.6rem;

            &::after {
                display: none;
            }
        }

        .dropdown-menu[data-bs-popper] {
            right: 0 !important;
            left: auto !important;
            font-size: 1.2rem;
        }
    }

    .navbar-toggler:focus, .btn-close:focus {
        box-shadow: none;
        outline: none;
    }
}
/*******************************
  End Header Navbar
*/

/*******************************
    Sidebar
*/
.mainSidebar {
    position: fixed;
    width: 0px;
    left: 0;
    top: 72px;
    background-color: #fff;
    border-right: #ddd solid 1px;
    z-index: 1008;
    height: calc(100vh - 110px);
    overflow-y: auto;
    transition: 0.5s all linear;

    li {
        &.nav-header:not(:empty) {
            padding: 0.6rem 1.2rem;
            border-bottom: 2px solid #f30008;
            font-weight: 700;
            margin-top: 1.2rem;
            text-transform:uppercase;
        }

        a {
            padding: 0.6rem 1.2rem;
            border-radius: 0 !important;
            color: #010101;
            font-weight: 500;

            &:not(:last-child) {
                border-bottom: 1px solid #808080;
            }

            &.active {
                background-color: #F30009 !important;
                color: #fff !important;
            }
        }
    }
    /*.sidebarToggleBtn {
        position: absolute;
        z-index: 1;
        right: -1px;
    }*/
}
/*******************************
  End Sidebar
*/
/*******************************
    Main Content Wrapper
*/
.mainWrapper {
    width: 100%;
    padding: 20px;
    margin-left: auto;
    transition: 0.5s all linear;

    .sidebar {
        display: none !important;
    }

    .img-mpp {
        width: 100%;
        height: 100%;
    }
}

.sideOpen {
    .mainWrapper {
        width: calc(100% - 240px);

    }
        .mainSidebar {
            left: 0;
            width: 240px;
            padding:1.6rem;
        }
    }
.btn-main-toolbar {
    .btn{
        white-space:nowrap;
    }
}
.card {
    .card-header {
        background-color: #fff;
    }

    .card-body {
        &:not(.card-form) {
            .form-group {
                div {
                    margin-bottom: .8rem;
                }

                label {
                    font-weight: 500;
                    padding-bottom: .4rem;
                }
            }
        }
    }
}
.btn-main-toolbar {
    .btn {
        &.btn-outline-secondary {
            border-color: #ced4da;
        }

        &:hover {
            background-color: #1E1E1E;
            color: #fff;
        }

        &.active {
            background-color: #F30009 !important;
            color: #fff !important;
        }
    }
}
.btn {
    padding: 0.6rem 1.4rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;

    &.btn-primary {
        background-color: #1e1e1e;
        border-color: #1e1e1e;
        color: #fff;
        font-size:1.2rem;
        font-weight:400;
        &:hover {
            color: #fff;
            background-color: #f40000;
            border-color: #f40000;
        }
    }
}
.pagination {
    .page-item {
        display: flex;

        a {
            color: #010101;

            &:hover {
               color:#f40000;
            }
        }
    }
}
.table-responsive {
    margin-bottom:.8rem;
    .table {
        border: 1px solid #dddddd;

        &.table-bordered {
            thead {
                tr {
                    th {
                        border: 1px solid #dddddd;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border: 1px solid #dddddd;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    a {
                        color: #010101 !important;
                        /*text-transform:lowercase;*/

                        &:hover {
                            color: #F30009 !important;
                        }
                    }
                }
            }
        }
    }
}
.wrapper-export {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;

    div {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        label{
            width:50%;
        }
        .label-select-all{
            font-size:1.6rem;
        } 
        div{
            width:100%;
        }
    }
        .ctn-export {
            justify-content: center;
            margin-top: 1.8rem;
        }
}
/*******************************
    Jquery UI-Tabs
*/
.ui-tabs {
    .ui-tabs-nav {
        li {
            &.ui-tabs-active {
                .ui-tabs-anchor {
                    font-weight: 600;
                }
            }
        }
    }
}
/*******************************
    Footer
*/
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 0.8rem;
    border-top: #ddd solid 1px;
    /*z-index: 9999;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);*/
}
/*******************************
   End Footer
*/

/*******************************
   Media Query
*/

@media all and (max-width:1200px) {
    .mainSidebar {
        left: -240px;
    }

    .mainWrapper {
        width: 100%;
    }
}
@media all and (max-width:1024px) {
    body, .form-control {
        font-size: 1.2rem;
    }
   /* .mainWrapper .img-mpp {
        width: 100%;
        height: 100%;
    }*/

    .navbar-toggler {
        border: 0px;
        margin-right: 1rem;
    }
    .customNavbar {
        .offcanvas {
            width: 20rem;
        }

        .navbar-nav {
            li {
                padding-left: 1.66rem;
                padding-left: 1.66rem;

                a {
                    margin: 0;

                    &::after {
                        display: none;
                    }

                    &.active, &:hover, &:hover::before {
                        color: #F30009;
                        width: 100%;
                        visibility: visible;
                    }
                }
            }
        }
    }
}
