
<div class="container-fluid page-body-wrapper">
<div class="sidebar">
    <div id="chromemenu" class="sidebar-menu">
        <h3>Menu</h3>
        <div class="form-group">
        <label>Choose Diminision:</label>
        @{
            @await Component.InvokeAsync("Menu")
        }
        </div>
    </div>
    <div>
        <asp:Label ID="lblLeftPanelHeader"></asp:Label>
    </div>
    <div id="trmenu">
        @if (Convert.ToString(TempData["ShowSubMenu"]) != "true")
        {
            @await Component.InvokeAsync("SubMenu")
            ;
        }
    </div>

</div>
<div class="main-panel mt-4">
    <div id="AttributeDetail">
        <div id="divLoading" class="loader">
            <img alt="Loading, please wait" style="display:none; position: absolute; top: 30%; left: 45%; width:110px; height:110px;" src="~/Images/spinner.gif" />
        </div>
    </div>
    <div class="card box-shadow mt-4" id="viewPlaceHolder">
        <div class="card-body">           
                    <h3 class="text-center mt-4 mb-4">Select Entities From Left Panel</h3>           
            </div>        
    </div>
</div>

</div>
<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $('#divLoading').show();

        });
        $(document).ajaxComplete(function () {
            $('#divLoading').hide();

        });
        function Session() {
            $("#lblHome").hide();
            $("#trContent").hide();
            $("#trDropDownData").show();
            $("#trAdminContent").hide();
            $("#trAdminDisplayAllUsers").hide();
            $('#divDisplayAllUsers').hide();
            $('#Dimension option:eq(0)').attr('selected', 'selected'); // Select first option
        };
        $(".Attribute").click(function (evt) {

            var entityName = evt.currentTarget.innerText;
            $.post('@Url.Action("ShowAttribute", "Menu")', { EntityTypeId: evt.currentTarget.id, entityName: evt.currentTarget.innerText, viewType: "search" },
                function (data) {
                    if (data.indexOf("Access denied") > -1) {
                        alert(data);
                    }

                    else if (data.indexOf("error") == 0) {

                        alert(data.replace("error", ""));
                    }
                    else {
                        $('#AttributeDetail').empty();

                        $('#AttributeDetail').html(data);

                        $('#lblcaption').html(entityName);
                        $('#viewPlaceHolder').empty();
                        $('#btnUpdate').hide();

                    }

                });
        });
    });

</script>
