@model List<Model.Models.EntityType>

@{
    var SelectedDimensionData = ViewBag.SelectedDimensionData;
}

<div class="page-label d-none">
    @{
        var selectedDimensionData = SelectedDimensionData?.ToString() ?? "";
    }
    
        @Html.Raw(selectedDimensionData)
    
</div>
<ul class="nav nav-pills flex-column mb-auto">
    @foreach (var menuOption in Model)
    {          
        <li class="nav-item">
            <a class="nav-link Attribute" id=@menuOption.Id> @menuOption.DisplayName</a>
        </li>
    }
    </ul>


<script>

    $(".Attribute").click(function (evt) {
        var entityName = evt.currentTarget.innerText; 
        var submenu = true;
        $.post('@Url.Action( "ShowAttribute", "Menu")', { EntityTypeId: evt.currentTarget.id, entityName: evt.currentTarget.innerText, viewType: "search" },
            function(data) {
            if(submenu == true){
                if(data.indexOf("Access denied") > -1){
                    alert(data);
                }
                    else if (data.indexOf("error") == 0) {
                    alert(result.replace("error", ""));
                }
                else {
                        $('#AttributeDetail').empty();                        
                        $('#AttributeDetail').html(data);
                        $('#lblcaption').html(entityName);
                        $('#viewPalceHolder').empty();
                        $('#btnUpdate').hide();
                        
                }
                submenu = false;
            }
        });
    });
</script>
